main/resources/schemas/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Payment">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element name="creditCardNumber" type="xs:long"/>
        <xs:element name="expirationDate" type="xs:long"/>
        <xs:element name="securityCode" type="xs:long"/>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
