main/src/main/resources/schemas/Destination.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Destination">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element type="xs:long" name="address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>